pytest==7.1.2
python-dotenv~=0.21.0
pre-commit==2.20.0
pytest-mock==3.5.1
pandas~=1.5.2
newspaper3k==0.2.8
tweepy==4.10.1
xmltodict==0.12.0
transformers~=4.23.1
tqdm~=4.64.1
torch~=1.12.1
torchmetrics~=0.10.1
nltk~=3.7
wandb~=0.13.8
dataframe-image==0.1.3
matplotlib~=3.6.3
seaborn~=0.12.2
numpy~=1.24.1
scipy~=1.10.0
